In [1]:
import pandas as pd

In [19]:
DATA_PATH_SUB = []
for i in range(1, 8):
    DATA_PATH_SUB.append("./dailylog2016_dataset/subject" + str(i) + "/data/")

In [20]:
subject1_activity_df = pd.read_csv(DATA_PATH_SUB[0] + "activity.csv")

In [24]:
subject1_activity_df.head(20)

,id,dayID,subjectID,attr_starttime,attr_endtime,label_activity,label_subactivity
0,1,1,5,11.03.15 08:06:34,11.03.15 08:07:44,PersonalGrooming,NaN
1,2,1,5,11.03.15 08:08:35,11.03.15 08:24:19,DeskWork,NaN
2,3,1,5,11.03.15 08:24:59,11.03.15 08:25:44,PersonalGrooming,NaN
3,4,1,5,11.03.15 08:26:36,11.03.15 10:03:22,DeskWork,NaN
4,5,1,5,11.03.15 10:07:47,11.03.15 10:33:48,Socializing,Somethingelse
5,6,1,5,11.03.15 10:38:02,11.03.15 10:47:55,Eating/Drinking,Brunch
6,7,1,5,11.03.15 10:43:33,11.03.15 10:48:49,Socializing,Somethingelse
7,8,1,5,11.03.15 10:55:16,11.03.15 11:21:15,DeskWork,NaN
8,9,1,5,11.03.15 11:21:52,11.03.15 11:24:02,PersonalGrooming,NaN
9,10,1,5,11.03.15 11:24:35,11.03.15 11:56:01,DeskWork,NaN
10,11,1,5,11.03.15 11:35:11,11.03.15 11:56:38,Socializing,Somethingelse
11,12,1,5,11.03.15 11:59:31,11.03.15 13:30:58,DeskWork,NaN
12,13,1,5,11.03.15 13:46:02,11.03.15 14:05:16,Eating/Drinking,Lunch
13,14,1,5,11.03.15 14:12:48,11.03.15 14:14:39,PersonalGrooming,NaN
14,15,1,5,11.03.15 14:15:17,11.03.15 17:06:14,DeskWork,NaN
15,16,1,5,11.03.15 17:10:33,11.03.15 17:18:24,Movement,GoforaWalk
16,17,1,5,11.03.15 17:18:16,11.03.15 17:25:26,Shopping,NaN
17,18,1,5,11.03.15 17:38:50,11.03.15 17:39:51,Housework,TidyingUp
18,19,1,5,11.03.15 17:39:56,11.03.15 17:41:27,PersonalGrooming,NaN
19,20,1,5,11.03.15 17:41:32,11.03.15 17:46:38,Housework,TidyingUp

In [16]:
subject1_activity_df.subjectID.unique()

array([5])

In [28]:
subject1_gps_df = pd.read_csv(DATA_PATH_SUB[0] + "gps_csv/SensorGPSData_labeled_day1.csv")

In [31]:
subject1_gps_df.head(20)

,id,attr_time,attr_lat,attr_lng,label_environment,label_posture,label_deviceposition,label_activity,label_valid
0,1,11.03.15 07:58:57.836,49.485568,8.456165,unknown,unknown,Waist,unknown,True
1,2,11.03.15 08:01:58.835,49.486088,8.455536,Street/Road/Pasture,Walking,Waist,unknown,True
2,3,11.03.15 08:02:33.836,49.486586,8.455479,Street/Road/Pasture,Walking,Waist,unknown,True
3,4,11.03.15 08:03:06.836,49.487090,8.455752,Street/Road/Pasture,Walking,Waist,unknown,True
4,5,11.03.15 10:09:55.835,49.487586,8.457593,Street/Road/Pasture,Standing,Waist,Socializing,True
5,6,11.03.15 13:34:07.035,49.487088,8.457737,Street/Road/Pasture,Walking,Waist,unknown,True
6,7,11.03.15 13:35:20.835,49.486591,8.458993,Street/Road/Pasture,Walking,Waist,unknown,True
7,8,11.03.15 13:36:15.835,49.486083,8.459373,Street/Road/Pasture,Walking,Waist,unknown,True
8,9,11.03.15 13:36:49.836,49.485583,8.459374,Street/Road/Pasture,Walking,Waist,unknown,True
9,10,11.03.15 13:38:17.835,49.485081,8.459907,Street/Road/Pasture,Walking,Waist,unknown,True
10,11,11.03.15 13:39:03.836,49.484583,8.459770,Street/Road/Pasture,Walking,Waist,unknown,True
11,12,11.03.15 14:08:11.036,49.485083,8.459623,Street/Road/Pasture,Walking,Waist,unknown,True
12,13,11.03.15 14:09:04.836,49.485579,8.459224,Street/Road/Pasture,Walking,Waist,unknown,True
13,14,11.03.15 14:09:58.836,49.486094,8.459269,Street/Road/Pasture,Walking,Waist,unknown,True
14,15,11.03.15 14:10:41.037,49.486596,8.458961,Street/Road/Pasture,Walking,Waist,unknown,True
15,16,11.03.15 15:32:07.835,49.487128,8.458111,Building,Sitting,Waist,Desk Work,True
16,17,11.03.15 17:11:30.235,49.486630,8.458792,Street/Road/Pasture,Walking,Waist,Movement,True
17,18,11.03.15 17:16:43.837,49.486131,8.464059,Street/Road/Pasture,Walking,Waist,Movement,True
18,19,11.03.15 17:28:45.037,49.486630,8.463117,Street/Road/Pasture,Walking,Waist,unknown,True
19,20,11.03.15 17:34:18.835,49.487126,8.457352,Street/Road/Pasture,Walking,Waist,unknown,True

In [25]:
subject4_gps_df = pd.read_csv(DATA_PATH_SUB[3] + "gps_csv/SensorGPSData_labeled_day1.csv")

In [26]:
subject4_gps_df.head()

,id,attr_time,attr_lat,attr_lng,label_environment,label_posture,label_deviceposition,label_activity,label_valid
0,1,10.03.15 11:27:22.614,49.487179,8.458814,Büro,sitzen,Oberschenkel,Schreibtischarbeit,True
1,2,10.03.15 15:34:51.643,49.488630,8.462544,Zuhause,sitzen,Oberschenkel,Schreibtischarbeit,True
2,3,10.03.15 15:34:58.643,49.488131,8.462008,Zuhause,sitzen,Oberschenkel,Schreibtischarbeit,True
3,4,10.03.15 18:15:47.476,49.488726,8.462420,Straße/Weg/Wiese,gehen,Oberschenkel,Fortbewegen,True
4,5,10.03.15 18:16:24.482,49.488229,8.462546,Straße/Weg/Wiese,gehen,Oberschenkel,Fortbewegen,True

In [13]:
subject1_gps_df.label_activity.unique()

array(['unknown', 'Socializing', 'Desk Work', 'Movement',
       'Personal Grooming'], dtype=object)